$black: black;
$white: white;
$font-family: "Poppins", sans-serif;


// Definir breakpoints con valores numéricos
$breakpoint-small: 600px;   // Cambiado a un valor en píxeles
$breakpoint-medium: 768px;  // Cambiado a un valor en píxeles
$breakpoint-large: 1200px;  // Cambiado a un valor en píxeles
